<div class="container">
  <div class="jumbotron">
    <h1><%= @realm.name %></h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      Data grab test. Formatting is bad. Not permanent.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= pluralize(@realm.achievements.length, "achievement") %>
    </div>
    <div class="col-sm-4">
      <%= pluralize(@realm.users.length, "user") %>
    </div>
    <div class="col-sm-4">
      <%= pluralize(@total_points, "total points") %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      Recent Achievements
    </div>
    <% if @recent_achievements.length == 0 %>
      <div class="col-sm-12">
        <span class="text-muted">No recent achievements.</span>
      </div>
    <% else %>
      <% @recent_achievements.each do |a| %>
        <div class="col-sm-2">
          <%= a.complete_date.to_formatted_s(:short) %>
        </div>
        <div class="col-sm-2">
          <%= a.user.name %>
        </div>
        <div class="col-sm-6">
          <%= a.achievement.title %>
        </div>
        <div class="col-sm-2">
          + <%= a.achievement.points %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      Top Users
    </div>
    <% if @top_users.length == 0 %>
      <div class="col-sm=12">
        <span class="text-muted">No users.</span>
      </div>
    <% else %>
      <% @top_users.each do |u| %>
        <div class="col-sm-6">
          <%= u["user"] %>
        </div>
        <div class="col-sm-6">
          <%= u["points"] %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      New Users
    </div>
    <% if @realm.new_users.length == 0 %>
      <div class="col-sm-12">
        <span class="text-muted">No new users.</span>
      </div>
    <% else %>
      <% @realm.new_users.each do |u| %>
        <div class="col-sm-6">
          <%= u.name %>
        </div>
        <div class="col-sm-6">
          <%= u.created_at.to_formatted_s(:short) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
