<html>
<head>
<%= stylesheet_link_tag "realmDetails", :media => 'all' %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<div class="container">

  <div class="jumbotron">
    <h1 id="realm-icon"><span class="fa fa-fw fa-2x fa-<%= @realm.icon.name %>" style="color:<%= @realm.color %>"></span></h1>
    <h1 id="realm-name"><%= @realm.name %></h1>
  </div>
  <div id="realm-inactive-banner" class="alert alert-info" <%= 'style=display:none;' if @realm.active %>>
    This realm is inactive.
  </div>
  <div id="error-message" class="row collapse alert alert-danger" role="alert">
    <div class="col-lg-12 error-count-message">
      <h4>The following errors occurred:</h4>
      <ul>
      </ul>
    </div>
  </div>
  <div id="superuser_ish" class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <ul class="nav nav-pills">
          <li><%= link_to 'Achievements', '/achievements/' + @realm.id.to_s %></li>
          <li><%= link_to 'Users', realm_users_path(@realm) %></li>
          <% if realm_admin?(@realm) %>
            <li><a id="rename-button" href="#" data-toggle="modal" data-target="#rename-modal">Rename</a></li>
            <li><a id="change-icon-button" href="#" data-toggle="modal" data-target="#change-icon-modal">Change Icon</a></li>
            <% if @realm.active %>
              <li><%= link_to 'Deactivate', deactivate_realm_path(@realm.id), id: 'change_state_button', :remote => true %></li>
            <% else %>
              <li><%= link_to 'Activate', activate_realm_path(@realm.id), id: 'change_state_button', :remote => true %></li>
            <% end %>
            <li><%= link_to 'Delete Realm', @realm, class: 'text-danger', data: {confirm: "Are you sure you want to delete #{@realm.name}?" }, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
   <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Top Users</h3>
      </div>
      <div class="panel-body">
          <% @top_users.each do |u| %>
            <p>
              <%= gravatar_for u["email"], 20 %> <%= u["user"] %> with <%= u["points"] %> Achievement Points
            </p>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Achievements</h3>
  </div>
     <div class="panel-body">

     </div>
   </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Active Achievements</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">My Progress</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">My Stats</h3>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
</div>



  <div class="row">
    <div class="col-sm-3">
      <%= pluralize(@realm.achievements.length, "achievement") %>
    </div>
    <div class="col-sm-3">
      <%= pluralize(@realm.users.length, "user") %>
    </div>
    <div class="col-sm-3">
      <%= pluralize(@total_points, "total points") %>
    </div>
    <div class="col-sm-3">
      <%= pluralize(@realm.completed_achievements.length, "completed achievement") %>
    </div>
  </div>





  <div class="row">
    <div class="col-sm-12">
      Recent Achievements
    </div>
    <% if @recent_achievements.length == 0 %>
      <div class="col-sm-12">
        <span class="text-muted">No recent achievements.</span>
      </div>
    <% else %>
      <% @recent_achievements.each do |a| %>
        <div class="col-sm-2">
          <%= a.complete_date.to_formatted_s(:short) %>
        </div>
        <div class="col-sm-2">
          <%= a.user.name %>
        </div>
        <div class="col-sm-6">
          <%= a.achievement.title %>
        </div>
        <div class="col-sm-2">
          + <%= a.achievement.points %>
        </div>
      <% end %>
    <% end %>
  </div>







  <div class="row">
    <div class="col-sm-12">
      Top Users
    </div>
    <% if @top_users.length == 0 %>
      <div class="col-sm-12">
        <span class="text-muted">No users.</span>
      </div>
    <% else %>
      <% @top_users.each do |u| %>
        <div class="col-sm-6">
          <%= u["user"] %>
        </div>
        <div class="col-sm-6">
          <%= u["points"] %>
        </div>
      <% end %>
    <% end %>
  </div>





  <div class="row">
    <div class="col-sm-12">
      New Users
    </div>
    <% if @realm.new_users.length == 0 %>
      <div class="col-sm-12">
        <span class="text-muted">No new users.</span>
      </div>
    <% else %>
      <% @realm.new_users.each do |u| %>
        <div class="col-sm-6">
          <%= u.name %>
        </div>
        <div class="col-sm-6">
          <%= u.created_at.to_formatted_s(:short) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="rename-modal" class="modal fade" tabindex="-1" aria-labelledby="renameModalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="renameModalLabel">Rename Realm</h4>
        </div>
        <div class="modal-body">
        <%= form_for(@realm, :url => rename_realm_path(@realm), :html => { :id => "rename_form", :class => "form-inline"}, remote: true, method: 'post') do |f| %>
          <div class='form-group'>
            <%= f.hidden_field :id %>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <%= f.submit "Rename", :class => 'btn btn-primary' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <% end %>
      </div>
      </div>
    </div>
  </div>

  <div id="change-icon-modal" class="modal fade" tabindex="-1" aria-labelledby="iconModalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="iconModalLabel">Change Icon</h4>
        </div>
        <div class="modal-body">
        <%= form_for(@realm, :url => change_realm_icon_path(@realm), :html => { :id => "change_icon_form", :class => "form"}, remote: true, method: 'post') do |f| %>
          <div class='form-group'>
            <%= f.hidden_field :id %>
            <%= f.label :icon %>
            <%= f.collection_select(:icon_id, @icons.all, :id, :name, {}, {:class => 'form-control'}) %>
          </div>
          <div class='form-group'>
            <%= f.label :color %>
            <%= f.color_field :color, value: "#{@realm.color}", class: "form-control" %>
          </div>
          <%= f.submit :class => 'btn btn-primary' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <% end %>
      </div>
      </div>
    </div>
  </div>

</div>
<script>

  $("#rename_form").on("ajax:error", function(event, xhr, status, error) {
    $('#rename-modal').modal('hide');
    handleErrors($.parseJSON(xhr.responseText));
  }).on("ajax:complete", function(xhr, status) {
    $('#rename-modal').modal('hide');
  }).on("ajax:beforeSend", function(event, xhr, settings) {
    $("#error-message").hide();
  });

  $("#change_icon_form").on("ajax:complete", function(xhr, status) {
    $("#change-icon-modal").modal('hide');
  });

  function handleErrors(errors) {
    var errorDiv = $("#error-message");
    var errorList = errorDiv.find("ul");

    errorList.empty();
    for (var i = 0; i < errors.length; i++) {
      errorList.append($("<li>")
               .append($("<span>", {class: "glyphicon glyphicon-exclamation-sign", "aria-hidden": true}))
               .append($("<span>", {class: "sr-only"}))
               .append($("<span>", {class: "error-item", html: errors[i]})));
    }

    if (errors.length > 0 && !errorDiv.is(":visible"))
      errorDiv.fadeIn(250);
  }
</script>
</html>
