<html>
<head>
<%= stylesheet_link_tag "realmDetails", :media => 'all' %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<div class="container">

  <div class="jumbotron">
    <h1 id="realm-icon"><span class="fa fa-fw fa-2x fa-<%= @realm.icon.name %>" style="color:<%= @realm.color %>"></span></h1>
    <h1 id="realm-name"><%= @realm.name %></h1>
  </div>
  <div id="realm-inactive-banner" class="alert alert-info" <%= 'style=display:none;' if @realm.active %>>
    This realm is inactive.
  </div>

  <%= render 'layouts/errorlist' %>
  <%= render 'layouts/flashes' %>

  <div id="superuser_ish" class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <ul class="nav nav-pills">
          <li><%= link_to 'Achievements', '/achievements/' + @realm.id.to_s %></li>
          <li><%= link_to 'Users', realm_users_path(@realm) %></li>
          <% if realm_admin?(@realm) %>
            <li><a id="rename-button" href="#" data-toggle="modal" data-target="#rename-modal">Rename</a></li>
            <li><a id="change-icon-button" href="#" data-toggle="modal" data-target="#change-icon-modal">Change Icon</a></li>
            <% if @realm.active %>
              <li><%= link_to 'Deactivate', deactivate_realm_path(@realm.id), id: 'change_state_button', :remote => true %></li>
            <% else %>
              <li><%= link_to 'Activate', activate_realm_path(@realm.id), id: 'change_state_button', :remote => true %></li>
            <% end %>
            <li><%= link_to 'Delete Realm', @realm, class: 'text-danger', data: {confirm: "Are you sure you want to delete #{@realm.name}?" }, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-sm-8 col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Realm Stats</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <h1 class="no-vertical-margin"><%= @realm.achievements.length %></h1>
            achievements
          </div>
          <div class="col-sm-3">
            <h1 class="no-vertical-margin"><%= @realm.users.length %></h1>
            users
          </div>
          <div class="col-sm-3">
            <h1 class="no-vertical-margin"><%= @total_points %></h1>
            total points
          </div>
          <div class="col-sm-3">
            <h1 class="no-vertical-margin"><%= @realm.completed_achievements.length %></h1>
            completions
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="col-sm-4 col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Top Users</h3>
      </div>
      <div class="panel-body">
        <% @top_users.each do |u| %>
          <div class="row">
            <div class="col-sm-7 col-md-8 text-left">
              <%= gravatar_for u["email"], 20 %> <%= u["user"] %>
            </div>
            <div class="col-sm-5 col-md-4 text-right">
              <%= u["points"] %> pts
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-8 col-sm-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">My Stats</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h2 class="no-vertical-margin">
                <% current_user.realm_completions(@realm).each do |rarity, completions| %>
                  <% if completions > 0 %>
                    <span class="fa fa-fw fa-<%= rarity.icon.name %>" aria-hidden="true" data-toggle="tooltip" title="<%= rarity.name %>" style="color:<%= rarity.color %>"></span>
                    <%= completions %>
                  <% end %>
                <% end %>
            </h2>
          </div>
          <div class="col-md-4 col-sm-12">
            <h2 class="no-vertical-margin">
              <span data-toggle="tooltip" title="Rank: <%= current_user.realm_rank(@realm) %>"><%= pluralize(current_user.points_for_realm(@realm), "pt") %></span>
            </h2>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">New Users</h3>
        </div>
        <div class="panel-body">
          <% if @realm.new_users.length == 0 %>
            <div class="alert alert-info" role="alert">
              No new users.
            </div>
          <% else %>
            <% @realm.new_users.each do |u| %>
              <div class="row">
                <div class="col-sm-6">
                  <%= u.name %>
                </div>
                <div class="col-sm-6">
                  <%= u.created_at.strftime("%m/%d/%Y") %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Achievements</h3>
  </div>
     <div class="panel-body">
       <% if @recent_achievements.length == 0 %>
         <div class="alert alert-info" role="alert">
           No recent achievements.
         </div>
       <% else %>
         <% @recent_achievements.each do |a| %>
          <div class="row">
           <div class="col-sm-2">
             <%= a.complete_date.strftime("%m/%d/%Y") %>
           </div>
           <div class="col-sm-3 text-left">
             <%= gravatar_for a.user.email, 20 %>
             <%= a.user.name %>
           </div>
           <div class="col-sm-5 text-left">
             <%= link_to a.achievement.title, show_achievement_path(a.achievement.realm, a.achievement) %>
           </div>
           <div class="col-sm-2 text-right">
             + <%= a.achievement.points %> pts
           </div>
         </div>
         <% end %>
       <% end %>
     </div>
   </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Tracked Achievements</h3>
      </div>
      <div class="panel-body">
        <% if current_user.tracked_achievements_for_realm(@realm).length == 0 %>
        <div class="alert alert-info" role="alert">
          You aren't tracking any achievements.
        </div>
        <% else %>
          <% current_user.tracked_achievements_for_realm(@realm).each do |a| %>
            <div class="row">
              <div class="col-xs-3 text-left">
                <%= link_to a.title, show_achievement_path(a.realm, a) %>
              </div>
              <% progress = current_user.current_progress(a) %>
              <div class="col-xs-2 text-right">
                <%= progress.ticks %> / <%= a.required_ticks %>
              </div>
              <div class="col-xs-7">
                <div class="progress small">
                  <div class="progress-bar small <%= 'progress-bar-success' if progress.completed %>" role="progressbar" aria-valuenow="<%= progress.ticks %>" aria-valuemin="0" aria-valuemax="<%= a.required_ticks %>" style="min-width:2em; width: <%= number_to_percentage(progress.percent_complete, precision: 1) %>">
                    <%= number_to_percentage(progress.percent_complete, precision: 1) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <div id="rename-modal" class="modal fade" tabindex="-1" aria-labelledby="renameModalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="renameModalLabel">Rename Realm</h4>
        </div>
        <div class="modal-body">
        <%= form_for(@realm, :url => rename_realm_path(@realm), :html => { :id => "rename_form", :class => "form-inline"}, remote: true, method: 'post') do |f| %>
          <div class='form-group'>
            <%= f.hidden_field :id %>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <%= f.submit "Rename", :class => 'btn btn-primary' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <% end %>
      </div>
      </div>
    </div>
  </div>

  <div id="change-icon-modal" class="modal fade" tabindex="-1" aria-labelledby="iconModalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="iconModalLabel">Change Icon</h4>
        </div>
        <div class="modal-body">
        <%= form_for(@realm, :url => change_realm_icon_path(@realm), :html => { :id => "change_icon_form", :class => "form"}, remote: true, method: 'post') do |f| %>
          <div class='form-group'>
            <%= f.hidden_field :id %>
            <%= f.label :icon %>
            <%= f.collection_select(:icon_id, @icons.all, :id, :name, {}, {:class => 'form-control'}) %>
          </div>
          <div class='form-group'>
            <%= f.label :color %>
            <%= f.color_field :color, value: "#{@realm.color}", class: "form-control" %>
          </div>
          <%= f.submit :class => 'btn btn-primary' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <% end %>
      </div>
      </div>
    </div>
  </div>

</div>
<script>

  /*$("#rename_form").on("ajax:error", function(event, xhr, status, error) {
    $('#rename-modal').modal('hide');
    handleErrors($.parseJSON(xhr.responseText));
  }).on("ajax:complete", function(xhr, status) {
    $('#rename-modal').modal('hide');
  }).on("ajax:beforeSend", function(event, xhr, settings) {
    $("#error-message").hide();
  });

  $("#change_icon_form").on("ajax:complete", function(xhr, status) {
    $("#change-icon-modal").modal('hide');
  });

  function handleErrors(errors) {
    var errorDiv = $("#error-message");
    var errorList = errorDiv.find("ul");

    errorList.empty();
    for (var i = 0; i < errors.length; i++) {
      errorList.append($("<li>")
               .append($("<span>", {class: "glyphicon glyphicon-exclamation-sign", "aria-hidden": true}))
               .append($("<span>", {class: "sr-only"}))
               .append($("<span>", {class: "error-item", html: errors[i]})));
    }

    if (errors.length > 0 && !errorDiv.is(":visible"))
      errorDiv.fadeIn(250);
  }*/
</script>
</html>
