<div class="container">
  <div class="jumbotron">
    <h1>
      <span class="fa fa-fw fa-2x fa-tasks"></span>
      <br/>
      System Config
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <ul class="nav nav-pills">
          <li><%= link_to "Back to Admin", admin_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="well">
        <table class='table table-striped table-hover'>
          <tr>
            <th>Configuration</th>
            <th>Setting</th>
          </tr>
          <% @sys_configs.each do |sys_config| %>
            <tr id='config-<%= sys_config.id %>' class='config-row'>
              <td class='id collapse'><%= sys_config.id %></td>
              <td class='key strong'><%= sys_config.key %></td>
              <td class='value'><%= sys_config.value %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <p><strong>Careful here.</strong> Monkeying with this
        stuff can be dangerous.</p>
        <p>Proceed with caution.</p>
      </div>
    </div>
  </div>
</div>

<div id="update-sys-config-modal" class="modal fade" tabindex="-1" aria-labelledby="configModalLabel" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="configModalLabel">Update System Config for <span class='config-key'></span></h4>
      </div>
      <div class="modal-body">
      <%= form_for(@update_sys_config, :url => update_sys_config_path, :html => { :id => "update_sys_config_form", :class => "form"}, remote: true) do |f| %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :key %>
        <div class='form-group'>
          <%= f.label :value %>
          <%= f.text_field :value, :class => 'config-value form-control' %>
        </div>
        <div class="alert alert-warning" role="alert">
          <strong>Just a gentle reminder.</strong> You can really wreck
          yourself here. Double check what you're doing.
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Update", :class => 'btn btn-primary' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('click', '.config-row', function() {
    $("#sys_config_id").val($(this).find(".id").html());
    $("#sys_config_key").val($(this).find(".key").html());
    $("#sys_config_value").val($(this).find(".value").html());
    $("#configModalLabel .config-key").html($(this).find(".key").html());

    $("#update-sys-config-modal").modal('show');
  });
</script>
