<div class="container">
  <div class="header">
    <h1><%= @realm.name %> <small>Users</small></h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= link_to "Back to Realm", @realm, :class => 'btn btn-default' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover table-striped">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Created</th>
        </tr>
      <% @users.each do |u| %>
        <tr data-link="<%= user_path(u) %>">
          <td><%= gravatar_for u.email, 20 %> <strong><%= u.name %></strong></td>
          <td><%= u.email %></td>
          <td><%= u.created_at.strftime("%m/%d/%Y") %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
