<div class="container">
  <div class="jumbotron">
      <h1>
        <small>User Details</small><br/>
        <%= gravatar_for @user.email, 40 %>
        <%= @user.name %>
      </h1>
  </div>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">User Info</div>
        <div class="panel-body text-left">
          <div class="row">
            <div class="col-sm-4">Email</div>
            <div class="col-sm-8"><%= @user.email %></div>
          </div>
          <div class="row">
            <div class="col-sm-4">Joined</div>
            <div class="col-sm-8"><%= @user.created_at.strftime("%m/%d/%Y") %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Accomplishments</div>
        <div class="panel-body text-left">
          <div class="row">
            <div class="col-sm-6 text-right"><%= @user.completions %></div>
            <div class="col-sm-6">Completions</div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right"><%= @user.total_points %></div>
            <div class="col-sm-6">Total Points</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="panel-heading">Realm Memberships</div>
        <div class="panel-body">
          <% @user.realms.each do |r| %>
            <div class="row">
              <div class="col-sm-7 text-left">
                <span class="fa fa-fw fa-<%= r.icon.name %>" style="color:<%= r.color %>"></span>
                <%= link_to r.name, r %>
              </div>
              <div class="col-sm-3 text-right">
                <% @user.realm_completions(r).each do |rarity, completions| %>
                  <% if completions > 0 %>
                    <span class="fa fa-fw fa-<%= rarity.icon.name %>" aria-hidden="true" data-toggle="tooltip" title="<%= rarity.name %>" style="color:<%= rarity.color %>"></span>
                    <%= completions %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-sm-2 text-right">
                <span data-toggle="tooltip" title="Rank: <%= @user.realm_rank(r) %>"><%= @user.points_for_realm(r) %> pts</span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">Groups</div>
        <div class="panel-body">
          <% @user.groups.each do |g| %>
            <div class="row">
              <div class="col-sm-12 text-left">
                <%= link_to g.name, g %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

<% if @user == current_user %>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Tracked Achievements
        </div>
        <div class="panel-body">
          <% if @user.tracked_achievements.length == 0 %>
          <div class="alert alert-info" role="alert">
            You aren't tracking any achievements.
          </div>
          <% else %>
            <% current_user.tracked_achievements.each do |a| %>
              <div class="row">
                <div class="col-xs-3 text-left">
                  <span class="fa fa-fw fa-<%= a.realm.icon.name %>" style="color:<%= a.realm.color %>;" data-toggle="tooltip" title="<%= a.realm.name %>"></span>
                  <%= link_to a.title, show_achievement_path(a.realm, a) %>
                </div>
                <% progress = current_user.current_progress(a) %>
                <div class="col-xs-2 text-right">
                  <%= progress.ticks %> / <%= a.required_ticks %>
                </div>
                <div class="col-xs-7">
                  <div class="progress small">
                    <div class="progress-bar small <%= 'progress-bar-success' if progress.completed %>" role="progressbar" aria-valuenow="<%= progress.ticks %>" aria-valuemin="0" aria-valuemax="<%= a.required_ticks %>" style="min-width:2em; width: <%= number_to_percentage(progress.percent_complete, precision: 1) %>">
                      <%= number_to_percentage(progress.percent_complete, precision: 1) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
