<tr class='achievement-item' data-link="<%= url_for :controller => 'achievements', :action => 'show', :realm_id => achievement.realm_id, :id => achievement.id  %>">
  <td>
    <strong><%= achievement.title %></strong><br/>
    <span class="text-muted"><%= achievement.description %></span>
  </td>
  <td class='text-center'>
    <span class="fa fa-fw fa-2x fa-<%= achievement.rarity.icon.name %>" style="color:<%= achievement.rarity.color %>"></span>
    <br/>
    <%= achievement.rarity.name %>
  </td>
  <td class='text-center'>
    <span class="fa fa-fw fa-2x fa-<%= achievement.category.icon.name %>" style="color:<%= achievement.category.color %>"></span>
    <br/>
    <%= achievement.category.name %>
  </td>
</tr>
