<div class="container">
  <div class="header">
    <h1><%= @realm.name %> <small>Achievements</small></h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= pluralize(@achievements.length, "achievement") %>
    </div>
    <div class="col-sm-4">
      <%= pluralize(@categories.length, "category") %>
    </div>
    <div class="col-sm-4">
      <%= pluralize(@rarities.length, "rarity") %>
    </div>
  </div>
  <div class="row">
    <% if @achievements.length > 0 %>
      <table class='table table-striped table-hover'>
        <tr>
          <th>Achievement/Description</th>
          <th>Rarity</th>
          <th>Category</th>
        </tr>
        <%= render @achievements %>
      </table>
    <% else %>
      <div class="col-sm-12">
        <span class="text-muted">There are no achievements in this realm.</span>
      </div>
    <% end %>
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = this.dataset.link;
  });
</script>
