<div class="container">
  <div class="jumbotron">
    <h2 id="achievement-title"><%= @achievement.title %></h2>
    <h2><small id="realm-description"><%= @achievement.description %></small></h2>

    <div class="row">
      <div class="col-sm-3 col-sm-offset-2 text-center">
        <span id="category-icon" class="fa fa-fw fa-5x fa-<%= @achievement.category.icon.name %>" style="color:<%= @achievement.category.color %>"></span>
      </div>
      <div class="col-sm-3 col-sm-offset-2 text-center">
        <span id="rarity-icon" class="fa fa-fw fa-5x fa-<%= @achievement.rarity.icon.name %>" style="color:<%= @achievement.rarity.color %>"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2 text-center">
        <h3><span id="achievement-category"><%= @achievement.category.name %></span></h3>
      </div>
      <div class="col-sm-3 col-sm-offset-2 text-center">
        <h3><span id="achievement-rarity"><%= @achievement.rarity.name %></span></h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="active-banner" class="alert alert-warning" role="alert" <%= "style=display:none;" if @achievement.active? %>>
        This achievement is inactive.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <ul class="nav nav-pills">
          <li><%= link_to "Back to Achievements", achievements_path(@achievement.realm) %></li>
          <% if realm_admin?(@achievement.realm) %>
            <li><%= link_to "Progress", progress_admin_path(@achievement) %></li>
            <li><a id="edit-button" href="#" data-toggle="modal" data-target="#edit-modal">Edit</a></li>
            <li><%= link_to 'Delete Achievement', @achievement, class: 'text-danger', data: {confirm: "Are you sure you want to delete #{@achievement.title}?" }, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <%= pluralize(@achievement.get_completed_users.length, "user") %>
        <% if @achievement.get_completed_users.length == 1 %>
          has
        <% else %>
          have
        <% end %>
        completed this achievement.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Your Progress</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
            <% if @achievement.is_complete_for_user(current_user) %>
              <div class="alert alert-success" role="alert">
                <span class="fa fa-fw fa-check"></span>
                <% if @achievement.repeatable %>
                  Completed <%= pluralize @achievement.get_times_user_completed(current_user), "Time" %>
                <% else %>
                  Completed <%= @achievement.get_progress_for_user(current_user)[0].complete_date.strftime("%m/%d/%Y") %>
                <% end %>
              </div>
            <% end %>
              <% if @achievement.does_user_have_progress(current_user, true) %>
                <% progress = @achievement.get_progress_for_user(current_user, true) %>
                <h2 class="no-vertical-margin text-center"><%= progress.ticks %> / <%= progress.achievement.required_ticks %></h2>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress.ticks %>" aria-valuemin="0" aria-valuemax="<%= @achievement.required_ticks %>" style="min-width:2em; width: <%= number_to_percentage(progress.percent_complete, precision: 1) %>">
                    <%= number_to_percentage(progress.percent_complete, precision: 1) %>
                  </div>
                </div>
              <% else %>
                <% if @achievement.is_complete_for_user(current_user) %>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" style="min-width:2em;width:100%">Complete</div>
                  </div>
                <% else %>
                  <h2 class="no-vertical-margin text-center">0 / <%= @achievement.required_ticks %></h2>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= @achievement.required_ticks %>" style="min-width:2em">0%</div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Achievement Info</div>
            <div class="panel-body text-left">
              <div class="row">
                <div class="col-sm-6">Required Ticks</div>
                <div class="col-sm-6"><%= @achievement.required_ticks %></div>
              </div>
              <div class="row">
                <div class="col-sm-6">Points</div>
                <div class="col-sm-6"><%= @achievement.points %></div>
              </div>
              <div class="row">
                <div class="col-sm-6">Repeatable</div>
                <div class="col-sm-6"><%= @achievement.repeatable ? 'Yes' : 'No' %></div>
              </div>
              <div class="row">
                <div class="col-sm-6">Created</div>
                <div class="col-sm-6"><%= @achievement.created_at.strftime("%m/%d/%Y") %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">Recent Attainments</div>
          <div class="panel-body text-left">
            <div class="row">
              <% if @achievement.get_recent_completed_progress.length == 0 %>
                <div class="col-sm-12 text-muted">
                  <i>No recent attainments.</i>
                </div>
              <% else %>
                <% @achievement.get_recent_completed_progress.each do |p| %>
                  <div class="col-sm-6">
                    <strong><%= p.user.name %></strong>
                  </div>
                  <div class="col-sm-6">
                    <%= p.complete_date.strftime("%m/%d/%Y") %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="edit-modal" class="modal fade" tabindex="-1" aria-labelledby="editModalLabel" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel">Edit Achievement</h4>
      </div>
      <div class="modal-body">
      <%= form_for(@achievement, :html => { :id => "edit_achievement_form", :class => "form"}, remote: true) do |f| %>
        <div class='form-group'>
          <%= f.label :title %>
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
        <div class='form-group'>
          <%= f.label :description %>
          <%= f.text_field :description, :class => 'form-control' %>
          <span class="help-block">A short descriptor of the achievement.</span>
        </div>
        <div class='form-group'>
          <%= f.label :active_start %>
          <%= f.date_field :active_start, :class => 'form_control' %>
        </div>
        <div class='form-group'>
          <%= f.label :active_end %>
          <%= f.date_field :active_end, :class => 'form_control' %>
        </div>
        <div class='form-group checkbox-inline'>
          <%= f.check_box :repeatable, :class => 'form_control' %>
          <%= f.label :repeatable %>
        </div>
        <%= f.hidden_field :realm_id, :value => @achievement.realm.id %>
        <div class='form-group'>
          <%= f.label :category %>
          <%= f.collection_select(:category_id, @categories.all, :id, :name, {}, {:class => 'form-control'}) %>
        </div>
        <div class='form-group'>
          <%= f.label :rarity %>
          <%= f.collection_select(:rarity_id, @rarities.all, :id, :name, {}, {:class => 'form-control'}) %>
        </div>
        <div class='form-group'>
          <%= f.label :required_ticks %>
          <%= f.number_field(:required_ticks, in: 1..100000000, :class => 'form-control') %>
          <span class="help-block">Needs to be positive :)</span>
        </div>
        <div class='form-group'>
          <%= f.label :points %>
          <%= f.number_field(:points, in: 1..1000, :class => 'form-control') %>
          <span class="help-block">Needs to be positive, too.</span>
        </div>
        </div>
        <div class="modal-footer">
          <%= f.submit :class => 'btn btn-primary' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>

<script>
$("#edit_form").on("ajax:error", function(event, xhr, status, error) {
  $('#edit-modal').modal('hide');
}).on("ajax:complete", function(xhr, status) {
  $('#edit-modal').modal('hide');
}).on("ajax:beforeSend", function(event, xhr, settings) {
  //$("#error-message").hide();
});
</script>
