<tr data-link="<%= show_category_path(category) %>">
  <td><span class='fa fa-fw fa-<%= category.icon.name %>' style='color:<%= category.color %>'></span> <%= category.name %></td>
  <td><%= category.description %></td>
  <td><%= category.achievements.length %></td>
</tr>
